#button {
	color: white;
	background: #3A3A39;
	margin-left: 2rem;
}
#merge {
	color: white;
	background: #3A3A39;
	margin-left: 15%;
	border: none;
}

#deu {
	margin-top: 10px;
}
#margintop {
	margin-top: 2rem;
}